<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<h3>Hello!!! Check My Music collection</h3>
<%= javascript_pack_tag 'application' %>
<%= react_component("PlaylistView", props: @props, prerender: false) %>